* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body, .wrapper, #counter-left, #counter-right, .image-container, .bg-image-container {
    display: flex;
    align-items: center;
    justify-content: center;}
body {
    height: 100vh;
    width: 100%;
    background: hsl(217, 54%, 11%);}
.wrapper {
    background: hsl(216, 50%, 16%);
    width: 345px;
    height: 600px; 
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;}
.container {
    width: 300px;
    height: 555px;}
.bg-image-container, .image-container {
    width: 300px;
    height: 300px;}
.bg-image-container {
    opacity: 0;
    background-color: rgba(0, 255, 247, 0.5);
    border-radius: 12px;}
.image-container {
    background-image: url('images/image-equilibrium.jpg');
    background-size: cover;
    border-radius: 10px;}
.bg-image-container:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 247, 0.4);
    opacity: 1;}
.bg-image-container, h1, h1:hover, .creator, .creator:hover, .image-container {
    transition: 0.3s;}
h1 {
    margin-top: 25px;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;}
h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;}
p {
    color: hsl(215, 22%, 54%);
    font-size: 18px;}
.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(215, 32%, 27%);
    padding-bottom: 30px;
    height: 40px;
    margin-top: 30px;}
.counter p {
    display: inline-block;
    padding-bottom: 0;
    margin-left: 10px;}
.credits {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-top: 25px;}
.avatar-container {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-image: url('images/image-avatar.png');
    background-size: cover;
    margin-right: 20px;}
.creator {
    color: hsl(0, 0%, 100%)}
.creator:hover {
    color:hsl(178, 100%, 50%);
    cursor: pointer;}